<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/neerajwadhwani/IdeaProjects/FrameWork"><classes><class name="org.testing.testScripts.TC1_PostRequest"><methods><include name="testcase1"/></methods></class><class name="org.testing.testScripts.TC2_GetAllRequest"><methods><include name="testcase2"/></methods></class><class name="org.testing.testScripts.TC3_GETPARTICULAR"><methods><include name="testcase3"/></methods></class><class name="org.testing.testScripts.TC4_PutRequest"><methods><include name="testcase4"/></methods></class><class name="org.testing.testScripts.TC5_PatchRequest"><methods><include name="testcase5"/></methods></class><class name="org.testing.testScripts.TC6_DeleteRequest"><methods><include name="testcase6"/></methods></class></classes></test></suite>